<style>
    .body {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        padding: 30px;
    }

    .date {
        width: 100%;
        margin-bottom: 20px;
    }

    .date1 {
        margin-left: 20px;
    }
</style>
<div class="body">
    <h3>ATN shop</h3>
    <div class="date">
        <h5>Invoice</h5>
        <div class="date1">
            {{#if bill}}
                {{#each bill }}
                     <p>Id invoice: {{this._id.id}}</p>
                    <p>Date: {{this._id.date}}</p>
                {{/each}}
            {{/if}}
        </div>
    </div>
    <div class="date">
        <h5>Invoice detail</h5>
        <div class="date">
            <table class="table">
                <thead>
            
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">name</th>
                        <th scope="col">quantity</th>
                        <th scope="col">total price</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if pr}}
                        {{#each pr }}
                            <tr>
                                {{#if product}}
                                    {{#each product as |value|}}
                                        <td scope="row">{{value.productid}}</td>
                                        <td scope="col">{{value.productname}}</td>
                                    {{/each}}
                                {{/if}}
                                <td scope="col">{{this.quantity}}</td>
                                <td scope="col">{{this.price}}$</td>
                            </tr>
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="date">
        {{#if bill}}
            {{#each bill }}
                <h5>Total price: <span style="color: red">{{this.total}}$</span></h5> 
            {{/each}}
        {{/if}}
    </div>
</div>